.image 
{ 
position: relative; /* To help the image + text element to get along with the rest of the page*/ 
width: 50%; /* for IE 6 */ 
} 

p
{ 
position: absolute; /* To place the text on the image*/
top: 200px; /* The exact location of the text from the top of the image*/
left: 0; /* Other beautification stuff */
width: 100%; 
}
